@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.font_weight_300{
    font-weight: 300
}
.font_weight_400{
    font-weight: 400
}
.font_weight_500{
    font-weight: 500
}
.font_weight_600{
    font-weight: 600
}
.font_weight_700{
    font-weight: 700
}
.font_weight_800{
    font-weight: 800
}
.font_weight_900{
    font-weight: 900
}